<!-- app/views/dashboard/index.html.erb -->

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 bg-primary">
      <div class="p-4">
        <h2 class="text-white">EMS</h2>
        <ul class="list-unstyled components">
          <li>
            <%= link_to "Dashboard", admin_dashboard_path %>
          </li>
          
          <li>
            <%= link_to "User", admin_users_path %>
          </li>
          <li>
            <%= link_to "Products" %>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    </main>
  </div>
</div>